
:root {
    --color-base: #B94248;
    --border-color: #B50100;
    --pink: #DF0631;
    --white: #E8E6E7;
    --color-botones: #EE6A87;
}

@import url(//db.onlinewebfonts.com/c/233131eb5b5e4a930cbdfb07008a09e1?family=LCD);

body {
    height: 100vh;
}

input {
  font-family: 'LCD', sans-serif;
  font-size: 33px;
  background-color: #48918D;
  border-style: inset;
  border-width: 7px;
  border-color: #f16c6c;
  font-family: "LCD"; 
}

#A {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:#4ee585;
  height: 100%;
  width: 100%;
}

#calculadora button {
  width: 90px;
  height: 80px;
  margin-bottom: 10px;
  border-color: var(--border-color);
  border-width: 7px;
  background-color: var(--color-botones);
  cursor: pointer;
  border-radius: 15px;
  color: #ceedd9;
  font-size: -webkit-xxx-large;
 
}
#calculadora button:hover {
  filter: brightness(70%);
 } 
#calculadora {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
  border-radius: 11px;
  width: 449px;
  height: 557px;
  border-color: #B50100;
  border-width: 7px; 
  background: var(--color-base);
}
#estilo-botones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}
